
    <!-- ##### about page ##### -->
   <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(../assets/core-img/background_about.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### --> 
    <div class="single-blog-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h3>Our Mission </h3>
                            <p>ChatNoir is dedicated to bringing customers the best selection of posters and art prints in the world.</p>
                            <p>Our range of hundreds of thousands of posters and art prints, combined with our framing and mounting services and satisfaction guarantee, make it simple and safe for customers to find a selection that is perfect for their home, apartment, or office.</p>

                            <blockquote>
                                <h6><i class="fa fa-quote-left" aria-hidden="true"></i> One of the things that attracts me to vintage and antique things is they have stories, and even if I don't know the stories, I make them up.</h6>
                                <span>Mary Kay Andrews</span>
                            </blockquote>

                           <h3>Our Products and Services</h3>
                           <p>Our selection of posters, illustrations and woodblock prints includes entertainment and original artwork, specialty posters, decorative prints and art reproductions. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   